<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="children">
	
	<!-- 数据库字段和Bean对象字段映射 -->
	 <resultMap id="childrenMap" type="com.student.domain.Children">
		<result property="id" column="fid"/>
		<result property="number" column="fnumber"/>
		<result property="creataTime" column="fcreataTime"/>
		<result property="lastUpdateTime" column="flastUpdateTime"/>
		<result property="describe" column="fdescribe"/>
		
		<result property="childName" column="fchildName"/>
		<result property="childGender" column="fchildGender"/>
		<result property="childAge" column="fchildAge"/>
		<result property="belongClass" column="fbelongClass"/>
		<result property="beginTime" column="fbeginTime"/>
		<result property="parentName" column="fparentName"/>
		<result property="cellphone" column="fcellphone"/>
		<result property="telphone" column="ftelphone"/>
		<result property="address" column="faddress"/>
		<result property="leaved" column="fleaved"/>
	 </resultMap>

	<sql id="childrenColumn">
		fid,
		fdescribe,
		flastupdatetime,
		fnumber,
		fcreatetime,
		
		fchildName,
		fchildGender,
		fchildAge,
		fbelongClass,
		fbeginTime,
		fparentName,
		fcellphone,
		ftelphone,
		faddress,
		fleaved
	</sql>
	
	<!-- 增加 -->
	<insert id="insert" parameterType="com.student.domain.Children">
		insert into t_hi_children 
		(<include refid="childrenColumn"/>)
		values
		(
			uuid(),
			#{describe jdbcType=VARCHAR},
			#{lastUpdateTime jdbcType=DATE},
			#{number jdbcType=VARCHAR},
			#{creataTime jdbcType=DATE}

			#{childName jdbcType=VARCHAR},
			#{childGender jdbcType=INTEGER},
			#{childAge jdbcType=INTEGER},
			#{belongClass jdbcType=VARCHAR},
			#{parentName jdbcType=VARCHAR},
			#{cellphone jdbcType=VARCHAR},
			#{telphone jdbcType=VARCHAR},
			#{address jdbcType=VARCHAR},
			#{leaved jdbcType=INTEGER}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="com.student.domain.Children">
		update t_hi_children t
		<set>
			<if test="childName !=null and childName != '' ">
				FchildName = #{childName},
			</if>
			<if test="number !=null and number != '' ">
				fnumber = #{number},
			</if>
			<if test="describe !=null and describe != '' ">
				fdescribe = #{describe},
			</if>
			<if test="childGender !=null and childGender != '' ">
				FchildGender = #{childGender},
			</if>
			<if test="childAge !=null and childAge != '' ">
				FchildAge = #{childAge},
			</if>
			<if test="belongClass !=null and belongClass != '' ">
				FbelongClass = #{belongClass},
			</if>
			<if test="parentName !=null and parentName != '' ">
				FparentName = #{parentName},
			</if>
			<if test="cellphone !=null and cellphone != '' ">
				Fcellphone = #{cellphone},
			</if>
			<if test="telphone !=null and telphone != '' ">
				Ftelphone = #{telphone},
			</if>
			<if test="address !=null and address != '' ">
				<!-- Faddress = #{address},-->
			</if>
			<if test="leaved !=null and leaved != '' ">
				Fleaved = #{leaved},
			</if>
			flastupdatetime = now()
		</set>
		
		<where>
			fid = #{id}
		</where>
	</update>
	
	<!-- 查询  可能返回多个结果-->
	<select id="selectAll" resultType="java.util.List" resultMap="childrenMap">
		select *
		from t_hi_children
	</select>
	
	<!-- 删除 -->
	<delete id="delete">
		delete 
		from t_hi_children where fid = #{id}
	</delete>
	
</mapper>
