<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="expense">
	
	<!-- 数据库字段和Bean对象字段映射 -->
	 <resultMap id="expenseMap" type="com.student.domain.Expense">
		<result property="id" column="fid"/>
		<result property="number" column="fnumber"/>
		<result property="creataTime" column="fcreataTime"/>
		<result property="lastUpdateTime" column="flastUpdateTime"/>
		<result property="describe" column="fdescribe"/>
		
		<result property="tuition" column="ftuition"/>
		<result property="livingCost" column="flivingCost"/>
		<result property="otherCost" column="fotherCost"/>
		<result property="tranChange" column="ftranChange"/>
		<result property="bookCost" column="fbookCost"/>
		<result property="effected" column="feffected"/>
		
	 </resultMap>

	<sql id="expenseColumn">
		fid,
		fdescribe,
		flastupdatetime,
		fnumber,
		fcreatetime,
		
		ftuition,
		flivingCost,
		fotherCost,
		ftranChange,
		fbookCost,
		feffected
	</sql>
	
	<!-- 增加 -->
	<insert id="insert" parameterType="com.student.domain.Expense">
		insert into t_hi_expense 
		(<include refid="expenseColumn"/>)
		values
		(
			uuid(),
			#{describe jdbcType=VARCHAR},
			#{lastUpdateTime jdbcType=DATE},
			#{number jdbcType=VARCHAR},
			#{creataTime jdbcType=DATE}

			#{tuition jdbcType=INTEGER},
			#{livingCost jdbcType=INTEGER},
			#{otherCost jdbcType=INTEGER},
			#{tranChange jdbcType=INTEGER},
			#{bookCost jdbcType=INTEGER},
			#{effected jdbcType=INTEGER}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="com.student.domain.Expense">
		update t_hi_expense t
		<set>
			<if test="name !=null and name != '' ">
				fname = #{name},
			</if>
			<if test="number !=null and number != '' ">
				fnumber = #{number},
			</if>
			<if test="describe !=null and describe != '' ">
				fdescribe = #{describe},
			</if>
			<if test="magClass !=null and magClass != '' ">
				fmagClass = #{magClass},
			</if>
			<if test="inTime !=null and inTime != '' ">
				finTime = #{inTime},
			</if>
			<if test="salary !=null and salary != '' ">
				fsalary = #{salary},
			</if>
			<if test="onTheJob !=null and onTheJob != '' ">
				fonTheJob = #{onTheJob},
			</if>
			flastupdatetime = now()
		</set>
		
		<where>
			fid = #{id}
		</where>
	</update>
	
	<!-- 查询  可能返回多个结果-->
	<select id="selectAll" resultType="java.util.List" resultMap="expenseMap">
		select *
		from t_hi_expense
	</select>
	
	<!-- 删除 -->
	<delete id="delete">
		delete 
		from t_hi_expense where fid = #{id}
	</delete>
	
</mapper>
