<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="term">
	
	<!-- 数据库字段和Bean对象字段映射 -->
	 <resultMap id="termMap" type="term">
		<result property="id" column="fid"/>
		<result property="number" column="fnumber"/>
		<result property="iseffective" column="fiseffective"/>
		<result property="name" column="fname"/>
		<result property="createTime" column="fcreatetime"/>
		<result property="lastUpdateTime" column="flastUpdateTime"/>
		<result property="describe" column="fdescribe"/>
		<result property="beginTime" column="fbeginTime"/>
	 </resultMap>

	<sql id="termColumn">
		fname,
		fdescribe,
		fnumber,
		fcreatetime,
		fbegintime
	</sql>
	
	<!-- 增加   id自增-->
	<insert id="insert" parameterType="term">
		insert into t_hi_term 
		(<include refid="termColumn"/>)
		values
		(
			#{name jdbcType=VARCHAR},
			#{describe jdbcType=VARCHAR},
			#{number jdbcType=VARCHAR},
			now(),
			#{beginTime jdbcType=DATE}
		)
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="term">
		update t_hi_term
		<set>
			<if test="name!=null">
				fname = #{name},
			</if>
			<if test="describe!=null">
				fdescribe = #{describe},
			</if>
			<if test="beginTime !=null">
				fbegintime = #{beginTime},
			</if>
			flastupdatetime = now()
		</set>
		
		<where>
			fid = #{id}
		</where>
	</update>
	
	<!--作废所有有效的学期 -->
	<update id="repeal" parameterType="term">
		update t_hi_term t set t.fiseffective = 0 where t.fiseffective = 1
	</update>
	
	<!-- 删除-->
	<update id="delete" parameterType="term">
		delete from t_hi_term where fid = #{id}
	</update>
	
	<!-- 查询最新的学期，即有效的学期-->
	<select id="select" resultMap="termMap">
		select * from t_hi_term t where t.fiseffective = 1
	</select>
	
	<!-- 查询  可能返回多个结果-->
	<select id="selectAll" resultType="java.util.List" resultMap="termMap">
		select *
		from t_hi_term
	</select>
	
</mapper>
