<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.common.util.ibatis.bean.ClaimInfo">

	<!-- 查询车辆差错编码是否已经存在，存在则不能插入 -->
<!-- 	<select id="select" parameterType="String" resultType="com.common.util.ibatis.bean.ClaimInfo" 
		resultMap="oaAlertMap">
			select fid, fbusiCode, fbillNum, fbillTye, fbusiType,
				fcreateTime, fhandleStatus, fupdateTime, fuserCode, 
				fdescribtion,  furl  from t_fins_oaalert
    		where fhandleStatus = 0 and fuserCode = '051782'
	</select> -->
	<select id="select"  parameterType="java.lang.String" resultType="java.lang.String">
		select e.empcode from t_org_employee e
			inner join t_org_department d on d.id = e.deptid
			where d.finasyscode = #{deptCode}
	</select>
	
<!-- 	<select id="select" parameterType="String" resultType="int" >
			select count(1) from t_fins_oaalert
    		where fhandleStatus = 0 and fuserCode = '051782'
	</select> -->
	
	<resultMap id="oaAlertMap" type="com.common.util.ibatis.bean.ClaimInfo">
		<result property="id" column="fid"/>
		<result property="busiCode" column="fbusiCode" jdbcType="VARCHAR"/>
		<result property="billNum" column="fbillNum" jdbcType="VARCHAR"/>
		<result property="billTye" column="fbillTye" jdbcType="VARCHAR"/>
		<result property="busiType" column="fbusiType" jdbcType="VARCHAR"/>
		
		<result property="createTime" column="fcreateTime" jdbcType="DATE"/>
	 	<result property="handleStatus" column="fhandleStatus" jdbcType="INTEGER"/>
		
		<result property="updateTime" column="fupdateTime" jdbcType="DATE"/>
		<result property="userCode" column="fuserCode" jdbcType="VARCHAR"/>
		<result property="describtion" column="fdescribtion" jdbcType="VARCHAR"/>
		<result property="url" column="furl" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 插入车辆差错数据 -->
	<insert id="insert" 
		parameterType="com.common.util.ibatis.bean.ClaimInfo" >
		insert into t_fins_oaalert
		(fid,
		fbusiCode,
		fbillNum,
		fbillTye,
		fbusiType,
		fcreateTime,
		fhandleStatus,
		fupdateTime,
		fuserCode,
		fdescribtion,
		fsourceBillID,
		furl)
		values
		(sys_guid(),
		(select to_char(sysdate, 'yyyymmddHH24miss') from dual),
		#{billNum, jdbcType=VARCHAR},
		#{billTye, jdbcType=VARCHAR},
		#{busiType, jdbcType=VARCHAR},
		sysdate,
		0,
		sysdate,
		#{userCode, jdbcType=VARCHAR},
		#{describtion, jdbcType=VARCHAR},
		#{sourceBillID, jdbcType=VARCHAR},
		#{url,  jdbcType=VARCHAR}
		)
	</insert>
	
	<parameterMap type="com.common.util.ibatis.bean.ClaimInfo" id="mymap">
		<parameter property="createTime"  
			javaType="javax.xml.datatype.XMLGregorianCalendar"
			jdbcType="TIMESTAMP" 
			typeHandler="com.common.util.ibatis.bean.XMLDateTypeHandler"/>
	
	</parameterMap>
	
</mapper>
